.left { 
    height: 1095px;
    width: 1700px;
    background-color: antiquewhite;
    margin-left: 500px;
    position: absolute;
    left: -299px;
    top: 0px;
    float: left;
  }

  .left table {
    margin-top: 30px; 
    border-collapse:collapse;
  }
  th,td { 
    border:1px solid black; 
    height: 40px;
    width: 150px;
    text-align: center;
  }